---
import { Meteors } from "../ui/meteors";
---

<div class="w-[40%] h-72 relative overflow-hidden p-3 bg-primary hover:bg-primary/90 text-primary-foreground tracking-wide rounded-md">
    <Meteors client:load number={40} />
    <div class="bg-pink-300 w-12 h-12 rounded-2xl">

    </div>
    <div>
        <h1 class="bg-linear-gradient bg-clip-text text-transparent text-xl font-syne font-bold">
            Backend
        </h1>
        <ul class="font-prompt text-sm text-white/50">
            <li>NodeJs</li>
            <li>BunJs</li>
            <li>Express</li>
            <li>HonoJs</li>
            <li>Drizzle ORM</li>
        </ul>
    </div>
</div>