---
import { SparklesCore } from "../ui/sparkles";
---

<div
  class="w-[60%] relative h-72 px-6 py-3 bg-primary hover:bg-primary/90 text-primary-foreground tracking-wide rounded-md overflow-hidden"
>
  <SparklesCore
    client:load
    background="transparent"
    minSize={0.4}
    maxSize={1}
    particleDensity={1200}
    className="w-full h-full absolute left-0 top-0"
    particleColor="#FFFFFF"
  />
  <div class="bg-pink-300 w-12 h-12 rounded-2xl relative z-[1]"></div>
  <div class="mt-2 relative z-[1]">
    <h1
      class="bg-linear-gradient bg-clip-text text-transparent text-xl font-syne font-bold"
    >
      Frontend
    </h1>
    <ul class="font-prompt text-sm text-white/50">
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>ReactJs</li>
      <li>Astro</li>
      <li>NextJs</li>
    </ul>
  </div>
</div>
