<div class="flex justify-center items-center gap-1.5 bg-primary text-primary-foreground font-unbounded shadow hover:bg-primary/90 px-3 py-2 fixed bottom-6 right-6">
    <span class="font leading-none mb-1">
        a.
    </span>
    <span class="flex w-[1px] h-5 bg-white/60">
    </span>
    <span class="text-[11px] font-light">
        Design & Code by Aditya
    </span>
</div>